<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="company.juancho.congresoFP">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".Principal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_santafe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_santafe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Grilla"
            android:label="@string/title_activity_grilla"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="company.juancho.congresoFP.Main" />
        </activity>
        <activity
            android:name=".Formulario"
            android:label="@string/title_activity_formulario"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="company.juancho.congresoFP.Main" />
        </activity>
        <activity
            android:name=".Rosario"
            android:label="@string/title_activity_rosario"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="company.juancho.congresoFP.Main" />
        </activity>
        <activity
            android:name=".PlanoActivity"
            android:label="@string/title_activity_plano"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="company.juancho.congresoFP.Main" />
        </activity>
    </application>

</manifest>